.gestalt-section {
  background: var(--bg-section-alt);
  padding: 0px 24px 72px 24px;
   background-image: linear-gradient(to bottom, var(--bg-section-alt) 90%, var(--bg-section) 100%)
}
.gestalt-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 48px 24px;
}
.gestalt-image {
    /* background: #ffffff; */
    border: 1px solid #e8e2dc;
    border-radius: 18px;
    transition: all 0.4s ease;
background-size: cover;
    overflow: hidden;
}
.gestalt-card {
    /* background: #ffffff; */
    border: 1px solid #e8e2dc;
    border-radius: 18px;
    padding: 32px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}


/* hover lift effect */
.gestalt-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

/* subtle top accent line */
.gestalt-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  right: 24px;
  height: 2px;
  /* background: rgb(90, 171, 183); */
  background:var(--accent-active);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.gestalt-card:hover::before {
    transform: scaleX(1);
}

/* CARD TEXT */
.gestalt-card h3 {
    font-size: 44px;
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
}

.gestalt-card p {
    font-size: 18px;
    color: #666;
    line-height: 1.7;
    margin-bottom: 18px;
}
.gestalt-card span {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c9a27e;
  font-weight: 600;
}