
html {
  scroll-behavior: smooth;
}

.p0c1
{
  background-color: #242424;
  /* background-color: #363233; */
}
.p0c2
{
  background-color: #927420;
  /* background-color: #613708; */
}
.p0c3
{
  background-color: #A23D01;
  /* background-color: #895C20; */
}
.p0c4
{
  background-color: #624621;
  /* background-color: #A38976; */
}


.p1c1
{
  /* background-color: #242424; */
  background-color: #363233;
}
.p1c2
{
  /* background-color: #927420; */
  background-color: #613708;
}
.p1c3
{
  /* background-color: #A23D01; */
  background-color: #895C20;
}
.p1c4
{
  /* background-color: #624621; */
  background-color: #A38976;
}
.p1c4
{
  background-color: #CABCAC;

}

.p2c1
{
  background-color: #232E20
}
.p2c2
{
  background-color: #D2A16E
}
.p2c3
{
  background-color: #B55E28
}
.p2c4
{
  background-color: #4F4B40;
}
.p2c5
{
  background-color: #3F2512;
}





body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  min-height: 30px;
  background-color: green;
  width: 100%;
  max-width: 1700px;
  margin: auto;


}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* color:#A23D01; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --color-primary: #232E20;
  --color-secondary: #D2A16E;
  --color-accent: #B55E28;
  --color-muted: #4F4B40;
  --color-dark: #3F2512;

  --text-primary: #232E20;
  --text-light: #ffffff;

  --background-main: #ffffff;
  --background-section: #f5f1ea;

  --border-color: #D2A16E;
}
.theme-forest {
  --color-primary: #232E20;
  --color-secondary: #D2A16E;
  --color-accent: #B55E28;
}

.theme-ocean {
  --color-primary: #123456;
  --color-secondary: #5DA9E9;
  --color-accent: #FFB703;
}

.theme-minimal {
  --color-primary: #111111;
  --color-secondary: #cccccc;
  --color-accent: #666666;
}